<div class="container">
  <form #form="ngForm" (ngSubmit)="logIn(form)">
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        name="email"
        required
        class="form-control"
        ngModel
      />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        required
        class="form-control"
        ngModel
      />
    </div>
    <button
      type="submit"
      class="btn btn-primary mt-3 w-100"
      [disabled]="form.invalid"
    >
      Login
    </button>
    <a class="text-center" [routerLink]="['/signup']" routerLinkActive="active"
      >Sign Up</a
    >
  </form>
</div>
