<nav
  class="navbar navbar-expand-lg position-fixed bottom-0 start-0 end-0 bg-0 border-top border-color-0"
>
  <div class="container-lg">
    <div class="d-flex justify-content-between w-100 px-3">
      <ul class="navbar-nav flex-row justify-content-around w-100">
        <li class="nav-item" *ngIf="utente">
          <button
            type="button"
            class="btn rounded-circle d-flex align-items-center p-0"
            [routerLink]="['/users']"
            routerLinkActive="active"
          >
            <img
              src="{{ utente.user.profileImageUrl }}"
              alt="{{ utente.user.name }}'s profile picture"
              width="38"
              height="38"
              style="object-fit: cover"
              class="d-inline-block align-text-top rounded-circle m-0 p-0"
            />
          </button>
        </li>
        <li class="nav-item" *ngIf="utente">
          <button
            class="nav-link"
            [routerLink]="['/home']"
            routerLinkActive="active"
          >
            <i class="fa-solid fa-house fs-3 color-0"></i>
          </button>
        </li>
        <li class="nav-item" *ngIf="utente">
          <button class="nav-link">
            <i class="fa-solid fa-magnifying-glass fs-3 color-0"></i>
          </button>
        </li>
        <li class="nav-item" *ngIf="utente">
          <button class="nav-link">
            <i class="fa-regular fa-square-plus fs-3 color-0"></i>
          </button>
        </li>
        <li class="nav-item" *ngIf="utente">
          <button class="nav-link">
            <i class="fa-regular fa-paper-plane fs-3 color-0"></i>
          </button>
        </li>
        <li class="utente" *ngIf="utente">
          <button class="nav-link">
            <i class="fa-regular fa-heart fs-3 color-0"></i>
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
