<nav
  class="navbar navbar-expand-lg position-fixed bottom-0 start-0 end-0 bg-white"
>
  <div class="container-lg">
    <div class="d-flex align-items-center justify-content-center">
      <ul class="navbar-nav">
        <li class="nav-item" *ngIf="utente">
          <a
            class="nav-link"
            [routerLink]="['/new-post']"
            routerLinkActive="active"
            >New post</a
          >
        </li>
        <li class="nav-item" *ngIf="utente">
          <a class="nav-link">Favorites</a>
        </li>
        <li class="nav-item" *ngIf="utente">
          <a class="nav-link">Profile</a>
        </li>
      </ul>
      <button
        type="button"
        class="btn border-0"
        *ngIf="utente"
        (click)="logout()"
      >
        Logout
      </button>
    </div>
  </div>
</nav>
