<nav
  class="navbar navbar-expand-lg position-fixed top-0 start-0 end-0 p-0 bg-0 border-bottom border-color-0"
>
  <div class="container-lg">
    <div class="d-flex w-100 px-3">
      <a class="navbar-brand display-1 color-0"
        >Instagr<img
          src="../../../assets/logo/InstagrAng.svg"
          width="24px"
        />ng</a
      >
      <ul
        class="navbar-nav d-flex align-items-center flex-row justify-content-between w-100"
      >
        <li
          class="utente w-100 d-flex align-items-center justify-content-end"
          *ngIf="utente"
        >
          <div class="utente d-flex flex-row-reverse align-items-center gap-4">
            <button
              id="logout"
              type="button"
              class="btn fw-bolder d-flex align-items-center justify-content-center p-0"
              *ngIf="utente"
              (click)="logout()"
            >
              <i class="fa-solid fa-door-open fs-4"></i>
            </button>

            <button
              type="button"
              class="btn rounded-circle d-flex align-items-center p-0"
              [routerLink]="['/users']"
              routerLinkActive="active"
            >
              <img
                src="{{ utente.user.profileImageUrl }}"
                alt="{{ utente.user.name }}'s profile picture"
                width="38"
                height="38"
                style="object-fit: cover"
                class="d-inline-block align-text-top rounded-circle m-0 p-0"
              />
            </button>

            <div
              id="darklight-1"
              class="theme-switcher d-flex align-items-center justify-content-center"
            >
              <input
                class="sun"
                type="checkbox"
                [checked]="isLightTheme"
                (change)="onThemeSwitchChange()"
              />
              <span class="moon"></span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
