.navbar-brand {
  font-family: "Fontspring";
}

#darklight {
  height: 2rem;
  width: 2rem;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 15px 0px rgb(221, 207, 144);
  border-style: solid;
  border: 0;
  outline: 0;
  transition: all 0.25s ease;
}

.sun {
  z-index: 1;
  height: 2rem;
  width: 2rem;
  position: absolute;
  border-style: solid;
  border: 0;
  outline: 0;
  border-radius: 9999px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.moon {
  z-index: 2;
  height: 2rem;
  width: 1.75rem;
  position: absolute;
  background-color: rgb(0, 0, 0);
  border-radius: 100%;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  transition: all 0.25s ease;
}

#darklight:hover {
  box-shadow: 0 0 15px 0px #f4bf39;
  border-style: solid;
  border: 0;
  outline: 0;
  filter: none;
}

#darklight:hover .moon {
  z-index: 2;
  height: 2rem;
  width: 1rem;
  position: absolute;
  border-style: solid;
  border: 0;
  outline: 0;
  border-radius: 100%;
  top: 50%;
  left: 150%;
  transform: translate(-50%, -50%);
}

#darklight:hover .sun {
  background-color: rgb(255, 200, 0);
}
