nav {
  font-family: "Fontspring";
}

#darklight-1 {
  height: 1.5rem;
  width: 1.5rem;
  background-color: transparent;
  display: flex;
  align-items: stretch;
  overflow: hidden;
  position: relative;
  border: none;
  border-radius: 9999px;
  filter: none;
  transition: all 0.25s ease;
}

input {
  z-index: 1;
  width: 1.49rem;
  height: 1.49rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  border: 0;
  border-radius: 9999px;
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  background-color: rgb(255, 200, 0);
  transition: all 0.25s ease;
}

.moon {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 90%;
  transform: translate(-50%, -50%);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 9999px;
  background-color: rgb(0, 0, 0);
  transition: all 0.25s ease;
  pointer-events: none;
}

input:checked ~ .moon {
  height: 1.4rem;
  width: 0rem;
  border-style: solid;
  border: 0;
  border-radius: 9999px;
  top: 50%;
  left: 150%;
  background-color: rgb(0, 0, 0);
  transform: translate(-50%, -50%);
}

#logout i {
  margin-top: 3px;
  color: rgb(229, 112, 112);
}

button:hover {
  filter: brightness(0.9);
  transition: none;
}

#profile-pic-btn {
  border: none;
}
