<nav
  class="navbar navbar-expand-lg position-fixed top-0 start-0 end-0 bg-white"
>
  <div class="container-lg">
    <a *ngIf="!utente" class="navbar-brand display-1"
      >Instagr<img
        src="../../../assets/logo/InstagrAng.svg"
        width="24px"
      />ng</a
    >
    <div class="d-flex">
      <ul class="navbar-nav flex-row gap-2 me-2">
        <li class="nav-item" *ngIf="utente">
          <a class="nav-link">Movies</a>
        </li>
        <li class="nav-item" *ngIf="utente">
          <a class="nav-link">Favorites</a>
        </li>
        <li class="nav-item" *ngIf="utente">
          <a class="nav-link">Profile</a>
        </li>
      </ul>
      <button
        type="button"
        class="btn btn-danger"
        *ngIf="utente"
        (click)="logout()"
      >
        Logout
      </button>
    </div>
  </div>
</nav>
