<div class="row">
  <div class="col-3" *ngFor="let post of posts">
    <div class="card">
      <img
        src="https://images.unsplash.com/photo-1682686581218-82326951f4ad?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        class="card-img-top"
        alt=""
      />
      <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text">
          {{ post.body }}
        </p>
        <a *ngIf="post.userId === this.user?.user?.id" class="btn btn-primary"
          >Edit</a
        >
      </div>
    </div>
  </div>
</div>
