<div class="my-5 py-5 row gy-4">
  <div
    class="col-12 d-flex justify-content-center"
    *ngFor="let post of posts; let i = index"
  >
    <div class="card bg-0 color-0 border-0 rounded-0">
      <div class="mb-3 d-flex justify-content-between px-3">
        <div class="pic-and-username">
          <img
            class="rounded-circle"
            src="{{ post.profilePictureUrl }}"
            alt="{{ post.name }}'s profile picture."
            width="38"
            height="38"
            style="object-fit: cover"
          /><span class="ms-3">{{ post.name }} {{ post.surname }}</span>
        </div>
        <i class="fa-solid fa-ellipsis d-flex align-items-center"></i>
      </div>
      <img
        src="{{ post.imageUrl }}"
        class="card-img-top rounded-0 border-top border-color-0"
        alt="{{ post.name }}'s post image."
      />
      <div class="card-body px-3">
        <div #cardContent>
          <div class="d-flex align-items-start justify-content-between color-1">
            <div class="d-flex gap-4 pt-0 pb-3 color-0">
              <i class="fa-regular fa-heart fs-4"></i>
              <i class="fa-regular fa-comment fs-4"></i>
              <i class="fa-regular fa-paper-plane fs-4"></i>
            </div>
            <div class="d-flex color-0">
              <i class="fa-regular fa-bookmark fs-4"></i>
            </div>
          </div>
          <div class="likes fw-bold">218 likes</div>
          <p class="card-text">
            <span class="fw-bold">{{ post.name }}</span> {{ post.body }}
          </p>
          <p class="mt-0">
            <button type="button" class="bg-0 border-0 color-1 ps-0">
              View comments
            </button>
          </p>
          <div>
            <ul
              class="list-group list-group-flush"
              *ngFor="let comment of comments"
            >
              <li
                class="list-group-item bg-0 color-0"
                *ngIf="comment.postId === post.id"
              >
                <img
                  src="{{ comment.profilePictureUrl }}"
                  alt="{{ comment.name }}'s picture"
                  width="38"
                  height="38"
                  style="object-fit: cover"
                />

                <span class="mx-1 fw-bold"
                  >{{ comment.name }} {{ comment.surname }}</span
                >{{ comment.body }}
              </li>
            </ul>
          </div>
          <form
            #comment="ngForm"
            class="w-100"
            (ngSubmit)="newComment(commentInp.value, post.id!)"
          >
            <input
              type="text"
              #commentInp
              name="comments"
              placeholder="Dive into this..."
              class="border-0 border-bottom border-color-0 bg-0 color-0 w-100"
              ngModel
            />
            <button
              type="button"
              class="d-none"
              [disabled]="comment.invalid"
            ></button>
          </form>
        </div>
        <div *ngIf="post.userId === this.user?.user?.id">
          <div #formContainer class="d-none">
            <form #form="ngForm" (ngSubmit)="edit(form, i + 1)">
              <div class="form">
                <label for="post-body">Description:</label>
                <input
                  #bodyInput
                  type="text"
                  name="body"
                  id="post-body"
                  class="bg-0 color-0 border-0 border-bottom border-secondary w-100"
                  required
                  ngModel
                />
              </div>
              <div class="w-100 d-flex justify-content-center pt-1">
                <button
                  [disabled]="form.invalid"
                  class="bg-0 text-success border-0 me-1"
                >
                  Confirm
                </button>
                <button
                  type="button"
                  class="bg-0 text-danger border-0"
                  (click)="
                    formContainer.className = 'd-none';
                    cardContent.className = '';
                    editBtn.classList.remove('d-none')
                  "
                >
                  Cancel
                </button>
              </div>
            </form>
          </div>
          <div class="w-100 d-flex justify-content-center">
            <button
              #editBtn
              class="bg-0 border-0 color-0"
              (click)="
                bodyInput.value = post.body;
                editBtn.classList.add('d-none');
                cardContent.className = 'd-none';
                formContainer.className = ''
              "
            >
              <i class="fa-regular fa-pen-to-square"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
