<div class="container">
  <form
    class="d-flex flex-column gap-3"
    #form="ngForm"
    (ngSubmit)="signUp(form)"
  >
    <h3>Sign-in</h3>
    <div class="form-group">
      <div id="name-group">
        <label for="name">Name</label>
        <input
          type="text"
          name="name"
          id="name"
          placeholder="Name"
          class="form-control"
          required
          ngModel
        />
      </div>
      <div id="surname-group">
        <label for="surname">Surname</label>
        <input
          type="text"
          name="surname"
          placeholder="Surname"
          id="surname"
          class="form-control"
          required
          ngModel
        />
      </div>
      <div id="email-group">
        <label for="email">Email</label>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="Email"
          class="form-control"
          required
          ngModel
        />
      </div>
      <div id="password-group">
        <label for="password">Password</label>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Password"
          class="form-control"
          required
          ngModel
        />
      </div>
      <div id="profile-pic-group">
        <label for="profile-pic">Profile Picture</label>
        <input
          type="url"
          name="profileImageUrl"
          id="profile-pic"
          placeholder="Url to profile picture"
          class="form-control"
          required
          ngModel
        />
      </div>
    </div>
    <button
      type="submit"
      [disabled]="form.invalid"
      class="btn btn-primary mt-3"
    >
      Registrati
    </button>
    <a class="text-center" [routerLink]="['/login']" routerLinkActive="active"
      >Login</a
    >
  </form>
</div>
