.card {
  width: 500px;
}

.card-img {
  aspect-ratio: 1 / 1;
}

.card-img img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
  background-image: url(../../../assets/img/landscape-placeholder.png);
}

.card input {
  color: var(--color-0);
}

.card input::placeholder {
}

.card textarea {
  height: 100px;
  color: var(--color-0);
}
