<div id="bodyUser" class="container bg-0 color-0 my-4 py-4 my-lg-5 w-100">
  <header class="mb-3 w-100">
    <section
      class="d-flex flex-row align-items-center justify-content-center m-0 p-0 py-3 w-100"
    >
      <div class="col-3 p-0 row justify-content-center me-1">
        <div class="object-fit-cover w-100">
          <img
            id="user-img"
            class="object-fit-cover w-100"
            src="{{ this.user.profileImageUrl }}"
            alt="{{ this.user.name }}'s profile picture."
          />
        </div>
      </div>
      <div class="col-3 text-center">
        <div class="display-6 color-0">{{ this.userPosts.length }}</div>
        <div class="color-0">Post</div>
      </div>
      <div class="col-3 text-center">
        <div class="display-6 color-0">1.2M</div>
        <div class="color-0">follower</div>
      </div>
      <div class="col-3 text-center">
        <div class="display-6 color-0">20</div>
        <div class="color-0">following</div>
      </div>
    </section>
    <section class="my-3 my-md-4">
      <h2>{{ this.user.name }} {{ this.user.surname }}</h2>
      <pre id="user-bio" class="m-0 p-0">
        👨‍💻 Passionate developer
        ✈ Enthuisiast Traveller
        🍕 Pizza lover</pre
      >
    </section>
  </header>
  <main class="mb-3 w-100">
    <section class="w-100">
      <div id="midBar" class="row p-0 w-100">
        <button class="col-4 text-center p-3">
          <i class="fa-solid fa-border-all fs-3 color-0"></i>
        </button>
        <button class="col-4 text-center p-3">
          <i class="fa-solid fa-film fs-3 color-0"></i>
        </button>
        <button class="col-4 text-center p-3">
          <i class="fa-regular fa-user fs-3 color-0"></i>
        </button>
      </div>
      <div id="postsContainer" class="row p-0">
        <div class="col-4 g-1" *ngFor="let post of userPosts">
          <div>
            <img
              class="post-img"
              src="{{ post.imageUrl }}"
              alt="{{ post.name }}'s post image."
            />
          </div>
        </div>
      </div>
    </section>
  </main>
</div>
