// HEADER //

#user-img {
  width: 75px;
  height: 75px;
  border-radius: 9999px;
}

@media only screen and (min-width: 577px) {
  #user-img {
    width: 100px;
    height: 100px;
  }
}

@media only screen and (min-width: 769px) {
  #user-img {
    width: 125px;
    height: 125px;
  }
}

@media only screen and (min-width: 993px) {
  #user-img {
    width: 150px;
    height: 150px;
  }
}

@media only screen and (min-width: 1201px) {
  #user-img {
    width: 175px;
    height: 175px;
  }
}

// MAIN //
// SECTION STORIE IN EVIDENZA //
#StorieInEvidenzaContainer div {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  border-style: solid;
}
// MIDBAR //

#midBar div {
  border-radius: 20px 20px 0px 0px;
  border: 1px solid transparent;
}
#midBar div:hover {
  border-radius: 20px 20px 0px 0px;
  border: 1px solid black;
}

// POST GRID

.post-img {
  aspect-ratio: 1 / 1;
  width: 100%;
  object-fit: cover;
}
