// HEADER //

#user-img-container {
  cursor: pointer;
  position: relative;
  aspect-ratio: 1 / 1;
}

#user-img-container:hover::after {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  aspect-ratio: 1 / 1;
  margin: 0.5rem;
  background-color: rgba(0, 0, 0, 0.15);
  color: black;
  content: "Edit";
  border-radius: 9999px;
}

#user-img {
  z-index: 1;
  border-radius: 9999px;
  aspect-ratio: 1 / 1;
}

#bodyUser {
  width: 100%;
}

@media only screen and (min-width: 577px) {
  #bodyUser {
  }
}

@media only screen and (min-width: 769px) {
  #bodyUser {
  }
}

@media only screen and (min-width: 993px) {
  #bodyUser {
  }
}

@media only screen and (min-width: 1201px) {
  #bodyUser {
  }
}

pre {
  margin-left: -1.75rem !important;
  padding: 0 !important;
  font-family: "Roboto", sans-serif;
}

// MIDBAR //

#midBar button {
  border: none;
  background-color: transparent;
}
#midBar button:hover {
  background-color: rgba(128, 128, 128, 0.1);
}

// POST GRID

.post-img {
  aspect-ratio: 1 / 1;
  width: 100%;
  object-fit: cover;
}
