<body class="pt-3 pb-3">
  <div class="container bg-white border rounded-5" id="bodyUser">
    <header class="pb-3">
      <section class="d-flex flex-row p-3 align-items-center">
        <div class="col-3 p-3 row justify-content-center">
          <div id="logoProfilo">User</div>
        </div>
        <div class="col-3 text-center">post</div>
        <div class="col-3 text-center">follower</div>
        <div class="col text-center">following</div>
      </section>
      <section>
        <h2>UserName</h2>
        <p class="m-0">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus
          quos suscipit velit nemo tenetur. Fuga asperiores tempora, at eos unde
          veniam iste ratione ut quia quae? Unde cupiditate ullam accusantium.
          Itaque iure ipsum ab autem sapiente voluptatibus, libero, suscipit
          ratione ullam non doloribus quibusdam odio. Aspernatur, reprehenderit
          molestias eos atque doloremque provident. Perferendis nisi vitae
          architecto totam, tenetur molestias ex. Rem nulla hic, eveniet unde
          dolores ipsam accusantium, neque quia culpa rerum assumenda ipsa
          aliquid? Magni eaque iste deleniti odit mollitia tempore, dolores vero
          doloribus neque laborum incidunt, veniam eligendi!
        </p>
        <a href="#">ONLYFANS Gianni Cabiddu</a>
      </section>
    </header>
    <main>
      <section id="StorieInEvidenzaContainer" class="d-flex flex-row">
        <div class="col-3 m-auto">storie in evidenza</div>
        <div class="col-3 m-auto">storie in evidenza</div>
        <div class="col-3 m-auto">storie in evidenza</div>
        <div class="col-3 m-auto">storie in evidenza</div>
      </section>
      <section>
        <div></div>
        <div></div>
      </section>
    </main>
  </div>
</body>
