/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: "Fontspring";
  src: url("./assets/fonts/Fontspring-DEMO-blue_vinyl_regular_ps_ot.otf");
}

[data-theme="light"] {
  --bg-0: #ffffff;
  --bg-1: #fafafa;
  --bg-0-contrast: #8d8d8d;
  --color-0: #000000;
  --color-1: #737373;
  --border-color-0: #dbdbdb;
}

[data-theme="dark"] {
  --bg-0: #000000;
  --bg-1: #121212;
  --bg-0-contrast: #8d8d8d;
  --color-0: #f5f5f5;
  --color-1: #a8a8a8;
  --border-color-0: #363636;
}

button:focus,
button:active,
input:focus,
input:active {
  border: none !important;
  outline: none !important;
}

.bg-0 {
  background-color: var(--bg-0) !important;
  transition: 0.25s ease;
}

.bg-1 {
  background-color: var(--bg-1) !important;
  transition: 0.25s ease;
}

.bg-0-contrast {
  background-color: var(--bg-0-contrast) !important;
  transition: 0.25s ease;
}

.color-0 {
  color: var(--color-0) !important;
  transition: 0.25s ease;
}

.color-1 {
  color: var(--color-1) !important;
  transition: 0.25s ease;
}

.border-color-0 {
  border-color: var(--border-color-0) !important;
  transition: 0.25s ease;
}

html {
  width: 100%;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-0) !important;
  color: var(--color-0) !important;
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  font-family: "Roboto", sans-serif;
}

nav {
  height: 4rem;
}

button {
  cursor: pointer;
  color: var(--color-0) !important;
}

i:hover {
  color: var(--color-1) !important;
}

a {
  cursor: pointer;
}

a:hover {
  filter: brightness(0.9);
}

input {
  height: 2rem;
  color: var(--color-0);
}

input::placeholder {
  color: var(--color-1);
}
