/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: "Fontspring";
  src: url("./assets/fonts/Fontspring-DEMO-blue_vinyl_regular_ps_ot.otf");
}

:root {
  --bg-0: #ffffff;
  --bg-1: #fafafa;
  --color-0: #000000;
  --color-1: #737373;
  --border-0: #dbdbdb;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  cursor: pointer;
}
