<div class="container">
    <form #form="ngForm" (ngSubmit)="registra(form)">
        <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" name="nome" id="nome" class="form-control" required ngModel>
            <label for="cognome">Cognome</label>
            <input type="text" name="cognome" id="cognome" class="form-control" required ngModel>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" class="form-control" required ngModel>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" required ngModel>
        </div>
        <button type="submit" [disabled]="form.invalid" class="btn btn-primary mt-3">Registrati</button>
    </form>
</div>
